@{
    ViewBag.Title = "Home Page";
}

<div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
        <img src="~/Content/img/bg.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="parallax-image">
                    <img src="~/Content/img/android phone.png" />
                </div>
            </div>
            <div class="col-sm-6 col-xs-offset-1">
                <div class="description">
                    <h2>Find3r</h2>
                    <br>
                    <h5>Find3r es una plataforma para solventar el problema del extravío de persona y/o pertenencia que: </h5>
                        <ul>
                            <li>
                                Por medio de su administrador de contenido, permite el ingreso de información por parte de instituciones públicas, privadas y no gubernamentales.
                              
                            </li>
                            <li>
                                Una aplicación móvil en las principales plataformas (Windows Phone, Android e iOS) que permite la interacción entre los usuarios, así como el reporte y seguimiento de extravíos.

                            </li>
                        </ul>
                    
                </div>
                <div class="buttons">
                    <a href="#">
                        <button class="btn btn-neutral btn-lg">
                            <i class="fa fa-lg fa-apple"></i> App Store
                        </button>
                    </a>
                    <a href="#">
                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-lg fa-android"></i>
                        </button>
                    </a>
                    <a href="#">
                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-lg fa-windows"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">Una aplicación amigable con el usuario</h4>
                    <p>La interfaz es amigable con el usuario y su administración es sencilla por lo que cualquier persona puede adaptarse a la red, tanto si haya o no utilizado una aplicación para dispositivos móviles </p>
                    <p>Los usuarios pueden vincular sus datos de otras redes sociales lo que facilita el proceso de registro. <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="~/Content/img/landing-page-1/mac2.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="section section-features section-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="text">
                        <h4>Administración del contenido</h4>
                        <p>Administre el contenido que desea desplegar en los dispositivos móviles desde un portal web.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grayblock">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-bell-o"></i>
                    </div>
                    <h4>Información actualizada</h4>
                    <p>Mantenga los usuarios actualizados con el estado de sus reportes.</p>
                </div>
            </div>
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-comment-o"></i>
                    </div>
                    <h4>Retroalimentación</h4>
                    <p>Permita que los usuarios brinden retroalimentación desde sus dispositivos móviles.</p>
                </div>
            </div>
        </div>
    </div>
</div>






